Firmware/Dixom_m_Base_Inspiration/Debug/
Firmware/Dixom_m_Base_Bootloader/Debug/
Firmware/Dixom_m_usbAudio_bootloader/Debug/
Firmware/Dixom_m_usbAudio_frimware/Debug/

Firmware/Dixom_m_Base_Bootloader/.settings/
Firmware/Dixom_m_Base_Inspiration/.settings/
Firmware/Dixom_m_usbAudio_bootloader/.settings/
Firmware/Dixom_m_usbAudio_frimware/.settings/